<!doctype html>
<html lang="en">

{% extends 'base.html' %}
{% load static %}


{% block content %}

<body>
    <div class="containter w3-display-middle" style="border: 15px   ;">

            <h1 class="w3-jumbo w3-center">Boosting</h1>

            <p class="w3-medium w3-center">This is an Ensemble Method. You can learn more about ensemble methods
            <a class="w3-medium w3-center" style="color:blue;" href="" >here!</a>
            
            <p class="w3-large w3-center">
               INPUT TEXT HERE 
            </p>
            <h2 class="w3-xlarge w3-center">
                
            </h2>
            <p class="w3-large w3-center">
                
            </p>


    </div>
</body>


{% endblock content%}
</html>